:root {
  --light-bg-color: #ffffff;
  --dark-bg-color: #272727;
  --light-font-color: #000000;
  --dark-font-color: #ffffff;
  --primary-color: #ef4836;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-bg-color);
  font-family: "Quicksand", sans-serif;
  margin-right: 135px;
  margin-left: 135px;
  overflow-y: hidden;
  min-height: 100vh;
}

nav {
  margin-top: 5vh;
}

.nav-ordered-link {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.nav-list-link {
  margin-right: 56px;
  cursor: pointer;
}

.nav-list-link:first-child {
  margin-left: -46px;
}

.nav-list-link:last-child {
  margin-left: auto;
}

.nav-link-anchor {
  text-decoration: none;
  font-weight: 400;
  color: var(--light-font-color);
  font-size: 20px;
  line-height: 25px;
}

.nav-link-anchor:hover {
  color: var(--primary-color);
}

.active {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 25px;
}

.name-and-links {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-and-links h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 400;
  font-size: 65.9221px;
  margin-bottom: auto;
  color: var(--light-font-color);
}

.name-and-links h3 {
  font-family: Quicksand;
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: var(--light-font-color);
}

.name-and-links button {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  width: 165px;
  height: 55px;
  margin-right: 18px;
  cursor: pointer;
  padding: 15px 43px;
  outline-style: none;
  border: 2px solid #111;
  box-shadow: 2px 2px #111;
  background: var(--primary-color);
  color: #fff;
}

.name-and-links button:hover {
  background: var(--primary-color);
  background: linear-gradient(to top, var(--primary-color) 50%, #fffff8 50%);
  background-size: 200% 200%;
  transition: all 0.5s ease-out;
  color: var(--primary-color);
}

.name-and-links button:active {
  box-shadow: 0 0;
  transition: all 0.5s;
}

.illustration svg {
  width: 667px;
  height: 371px;
  margin-top: 80px;
}

#Cube {
  animation: cube 5s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes cube {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1464px) {
  body {
    margin-right: 0px;
    margin-left: 0px;
  }

  nav {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 46px;
  }

  .nav-ordered-link {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-list-link:first-child {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .nav-list-link:last-child {
    margin-left: 0;
  }

  .name-and-links {
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
  }

  .illustration svg {
    display: none;
  }
  .name-box {
    margin-top: 0px;
  }

  button {
    margin-bottom: 25px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
  }
  .name-and-links h1 {
    color: var(--dark-font-color);
  }
  .name-and-links h3 {
    color: var(--dark-font-color);
  }

  .nav-link-anchor {
    color: var(--dark-font-color);
  }

  .name-and-links button {
    box-shadow: none;
    border: none;
  }
}
